@font-face {
    font-family: nintendoFont;
    /* set name */
    src: url(/assets/fonts/Nintendo-DS-BIOS.ttf);
    /* url of the font */
}

body {
    color: white;
    background: #2d50f0;
    font-family: 'nintendoFont', sans-serif;
    font-size: 30px;
}

header {
    text-align: center;
    padding: 50px;
}

.drawings {
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    position: relative;
    height: 400px;
}

.dino {
    position: absolute;
}

.tree {
    position: absolute;
}

.birdie {
    position: absolute;
}