@font-face {
    font-family: nintendoFont;
    /* set name */
    src: url(../assets/fonts/Nintendo-DS-BIOS.ttf);
    /* url of the font */
}

body {
    padding: 10px;
    color: white;
    background: #000000;
    opacity: 1;
    position: relative;
    align-content: center;
    font-family: 'nintendoFont', sans-serif;
    font-size: 40px;
}

header {
    text-align: center;
    padding: 50px;
    font-size: 90px;
}